body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f2f2f2; /* Leichtes Grau */
    margin: 0;
    padding: 0;
    display: flex; /* Flex-Container für vertikale und horizontale Zentrierung */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
  }
  :root {
    --primary-color: rgba(107,97,203,1.000);
    --secondary-color: rgba(213,214,246,1.000);
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
  }
  button{
    cursor: pointer;
  }
  .center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 50%; /* Minimale Breite */
    min-height: 50%; 
  }
  
  .button-pr{
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  .button-sc{
    border: white;
    background-color: white;
    color: black;
  }
  #button1{
    background-color: #f2f2f2;
  }
  th{
    text-align: left;
    background-color: var(--secondary-color);
    border-left: 2px solid;
    font-weight: normal;
    padding: 8px;
  }
  td {
    padding: 8px;
    text-align: left;
  }
  
  th, td{
    margin-right: 10px;
  }
  #table{
    background-color: white;
  }

  .file-list {
    flex-grow: 1;
  }
